<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SportsStore</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body class="m-2">
    <app>SportsStore Will Go Here</app>
    <div ng-app="SportsStore" ng-controller="charactersCtrl">
      <input ng-model="searchText" placeholder="Search Products" />
      <ul>
        <li ng-repeat="name in products | filter : searchText">
          {{ c }}
        </li>
      </ul>
    </div>
  </body>
</html>
